<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/nav") %>
    <h1><%= title %></h1>
    <ul>
      <% users.forEach(user => { %>
      <li>Name - <%= user.name %> : Age - <%= user.age %></li>
      <% }) %>
    </ul>
  </body>
</html>
